@{
    ViewData["Title"] = "Home";
}
<h2>Գլխավոր</h2>



<fieldset class="container_divs">
    <legend class="legendo">
        Փնտրել
    </legend>
    Անուն<input id="firstName" name="firstName" /><br />
    Ազգանուն<input id="lastName" /><br />
    Հայրանուն<input id="middleName" /><br />
    <input type="button" id="Search" value="Փնտրել" />
</fieldset>

<table class="table">
    <thead>

    </thead>
    <tbody id="membershipTable">

    </tbody>
</table>

<table class="table">
    <thead>

    </thead>
    <tbody id="cashTable">

    </tbody>
</table>

<table class="table">
    <thead>

    </thead>
    <tbody id="paymentsTable">

    </tbody>
</table>

@section scripts{
    <script>
        $(function () {
            $("#Search").on('click', function () {
                var firstName = $("#firstName").val();
                var lastName = $("#lastName").val();
                var middleName = $("#middleName").val();

                $.ajax({
                    url: '@Url.Action("SearchFees","Home")',
                    data: {
                        FirstName: firstName,
                        LastName: lastName,
                        MiddleName:middleName
                    },
                    success: function (result) {
                        $("#membershipTable").html("").html(result);

                        $(document).on("click", function () {
                            $(".actions").hide();
                        });

                        $(".actions").on("click", function (event) {
                            event.stopPropagation();
                        });

                        $(".actionsOpener").on('click', function () {
                            event.stopPropagation();
                            var tr = $(this).parent().parent();
                            var div = tr.find('div.actions');
                            div.slideToggle();
                        });

                    }
                })

                $.ajax({
                    url: '@Url.Action("SearchCashes", "Home")',
                    data: {
                        FirstName: firstName,
                        LastName: lastName,
                        MiddleName: middleName
                    },
                    success: function (result) {
                        $("#cashTable").html("").html(result)
                    }
                })

                $.ajax({
                    url: '@Url.Action("SearchPayments", "Home")',
                    data: {
                        FirstName: firstName,
                        LastName: lastName,
                        MiddleName: middleName
                    },
                    success: function (result) {
                        $("#paymentsTable").html("").html(result)
                    }
                })


            })

        })


    </script>
}