@model Flaw.Models.MembershipFee
@{
    ViewData["Title"] = "Create";
}
<meta charset="utf-8" />
<h2>Ավելացնել</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Անդամավճար</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RealAmount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RealAmount" class="form-control" />
                <span asp-validation-for="RealAmount" class="text-danger" />
            </div>
        </div>
        @*<div class="form-group">
                <label asp-for="AmountWithDiscount" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="AmountWithDiscount" class="form-control" />
                    <span asp-validation-for="AmountWithDiscount" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CurrentState" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="CurrentState" asp-items="Html.GetEnumSelectList<FeeState>()" class="form-control"></select>
                    <span asp-validation-for="CurrentState" class="text-danger" />
                </div>
            </div>*@
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MiddleName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Start" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PrivilegeType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PrivilegeType" asp-items="ViewBag.PrivilegeType" class="form-control"><option> </option></select>
                <span asp-validation-for="PrivilegeType" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label for="privilegeNumber" class="col-md-2 control-label">Արտոնագրի համար</label>
                <div class="col-md-10">
                    <input id="privilegeNumber" name="privilegeNumber" type="number" class="form-control" />
                </div>
            
        </div>

        <div class="form-group">
            <label asp-for="ActivePrivilegeStart" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ActivePrivilegeStart" class="form-control" />
                <span asp-validation-for="ActivePrivilegeStart" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ActivePrivilegeEnd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ActivePrivilegeEnd" class="form-control" />
                <span asp-validation-for="ActivePrivilegeEnd" class="text-danger" />
            </div>
        </div>

        @if (Context.User.Identity.Name == "admin@admin.am")
            {
            <div class="form-group">
                <label asp-for="Periodicity" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Periodicity" asp-items="Html.GetEnumSelectList<FeePeriodicity>()" class="form-control">
                        <option> </option>
                    </select>
                    <span asp-validation-for="Periodicity" class="text-danger" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group" style="display: none">
                <label asp-for="Periodicity" class="col-md-2 control-label"></label>
                <div class="col-md-10" style="display: none">
                    <select asp-for="Periodicity" asp-items="Html.GetEnumSelectList<FeePeriodicity>()" class="form-control">
                        <option value="@FeePeriodicity.Year" selected="selected"></option>
                    </select>
                    <span asp-validation-for="Periodicity" class="text-danger" />
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ստեղծել" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Վերադառնալ ցանկ</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
